/* * {
    border: 1px solid black;
} */

h1 {
    font-size: 85px;
}

.heading {
    color: red;
}

.heading1 {
    color: blue;
}

input[type='text'] {
    width: 500px;
}

input[type='button'] {
    width: 100px;
    color: blue;
}

p {
    font-weight: 400;
}

.p2 {
    font-weight: 700;
    line-height: 30px;
}

ul {
    list-style: upper-alpha;
}